<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="shortcut icon", href="../img/iconos/chess.ico", type="image/x-icon")
        include ../partials/head.pug
        title=titulo
    body(onload="init()")
        .contGame
            #tab.tabChess
        script(src="../js/chess/pieza.js")
        script(src="../js/chess/tablero.js")
        script(src="../js/chess/game.js")
                